.mainsec_header {
    background-color: blueviolet;
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 30px;
        color: #fff;
    }
    .navbar-brand {
        font-size: 35px;
        color: #fff;
    }
}